.bg {
  background: #f6f6f6;
}

.headerComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #2e054e;
  opacity: 0.8;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.headerLogo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ul-header {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-header > li {
  padding: 1rem;
}